#3-2 변수명 생성규칙

In [ ]:
a = 10
a1 = 10
A = 10
_A = 10

price = 1000
apple_price = 900
score = 19.5
name = "헤이마트"

In [ ]:
1a = 10

SyntaxError: invalid decimal literal (<ipython-input-3-1be9f8edb7cd>, line 1)

In [ ]:
a1 = 10

In [ ]:
PRICE = 10
price = 5

print(PRICE)
print(price)

10
5

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#3-3 다양한 변수 생성법

In [ ]:
a = 10
b = 5
c = a
a, b, c = 2, 2, 2
print(a)
print(b)
print(c)

2
2
2

#3-4 숫자형

In [ ]:
a = 10
price_cola = 1200
count = 0

print(a)
print(price_cola)
print(count)

10
1200
0

In [ ]:
a = 0.1
b = -0.123
c = 1.45e3
print(a)
print(b)
print(c)

0.1
-0.123
1450.0

In [ ]:
a = 0o13
b = 0x4a

In [ ]:
a = 1+2
b = 1-2
c = 2*3
d = 2**2
e = 10%3
f = 10//3
sum = 10 + 0.1
print(a,b,c,d,e,f,sum)

3 -1 6 4 1 3 10.1

#3-5 문자열

In [ ]:
data = "This's Heymart"
data1 = 'This's Heymart'

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-13-b5fc6c05d4e7>, line 2)

In [ ]:
data = '최고의 마트는 어디입니까? "헤이마트 입니다"'
data1 = "최고의 마트는 어디입니까? "헤이마트 입니다""

SyntaxError: invalid syntax (<ipython-input-14-1340e09b6bfa>, line 2)

In [ ]:
data = '''
HeyMart
여러분에게 최고의
물건을 판매하겠습니다.
'''
print(data)

HeyMart
여러분에게 최고의
물건을 판매하겠습니다.

In [ ]:
data1 = 'Hey'
data2 = 'mart'
result = data1 + data2
print(result)

Heymart

In [ ]:
name = '젤리 : '
count = 10
result = name + 10
print(result)

TypeError: can only concatenate str (not "int") to str

In [ ]:
data = 'a'*10
print(data)

aaaaaaaaaa

In [ ]:
min_data = '901212-1234567'
print(min_data[7])
print(min_data[-1])

1
7

In [ ]:
data = '901212-1234567'
year = data[0:2]
print(year)

90

In [ ]:
data = '901212-1234567'
min_data1 = data[8:]
min_data2 = data[:6]
print(min_data1)
print(min_data2)

234567
901212

In [ ]:
text = '%s 고객님 환영합니다.'%'헤이마트'
print(text)
text = '%s 고객님 환영합니다.'%'파이썬'
print(text)
name = '뉴진스'
text = '%s 고객님 환영합니다.'%name
print(text)

헤이마트 고객님 환영합니다.
파이썬 고객님 환영합니다.
뉴진스 고객님 환영합니다.

In [ ]:
text = '%s 고객님 %d번째 방문을 환영합니다.'%('헤이마트',100)
print(text)

헤이마트 고객님 100번째 방문을 환영합니다.

In [ ]:
text = '%s 고객님 %d번째 방문을 환영합니다.'%(100,'헤이마트')

print(text)

TypeError: %d format: a real number is required, not str

In [ ]:
text = '{0} 고객님 환영합니다.'.format('헤이마트')
print(text)

헤이마트 고객님 환영합니다.

In [ ]:
text = '{name} 고객님 환영합니다.'.format(name = '헤이마트')
print(text)

헤이마트 고객님 환영합니다.

In [ ]:
text = '{0} 고객님 {1}번째 방문을 환영합니다.'.format('헤이마트',100)
text1 = '{name} 고객님 {count}번째 방문을 환영합니다.'.format(name = '헤이마트',count = 100)
print(text)
print(text1)

헤이마트 고객님 100번째 방문을 환영합니다.
헤이마트 고객님 100번째 방문을 환영합니다.

In [ ]:
len('헤이마트입니다.')

8

In [ ]:
result1 = 'heymart'.upper()
result2 = 'HeyMart'.lower()
print(result1)
print(result2)

HEYMART
heymart

In [ ]:
text = ' 헤이마트 '
result1 = text.strip()
result2 = text.lstrip()
result3 = text.rstrip()
print(result1)
print(result2)
print(result3)

헤이마트
헤이마트
 헤이마트

In [ ]:
text = '콜라 사이다 환타 맥콜'
text1 = '콜라/사이다/환타/맥콜'
result = text.split()
result1 = text1.split('/')
print(result)
print(result1)

['콜라', '사이다', '환타', '맥콜']
['콜라', '사이다', '환타', '맥콜']

In [ ]:
text = '콜라 사이다 환타 zero콜라'
result = text.replace('zero콜라','제로콜라')
print(result)

콜라 사이다 환타 제로콜라

In [ ]:
text = '콜라 사이다 환타 zero콜라 콜라 콜라 밀키스'
result = text.count('콜라')
print(result)

4

#3-6 리스트

In [ ]:
user = ['고객1','고객2','고객3']
drink = ['콜라','사이다','오렌지쥬스']
price = [1200,1200,1000]

In [ ]:
data = list()
data1 = [['고객1','010-123-4567',20],['고객2', '010-222-3333',22]]
data2 = [1,2,3,['고객1','고객2','고객3']]

In [ ]:
price = [100,200,300]
p1 = price[0]
p2 = price[-1]
print(p1,p2)

100 300

In [ ]:
data = [['고객1','010-123-4567',20],['고객2','010-222-3333',22]]
print(data[0])
print(data[0][1])

['고객1', '010-123-4567', 20]
010-123-4567

In [ ]:
price = [1,200,300]
price[0] = 100
print(price)

[100, 200, 300]

In [ ]:
week_sales = [10,20,10,30,40,50,30]
result = week_sales[0:3]
print(result)

[10, 20, 10]

In [ ]:
week_sales = [10,20,10,30,40,50,30]
week_sales[0:3] = [100,200,100]
print(week_sales)

[100, 200, 100, 30, 40, 50, 30]

In [ ]:
data1 = [1,2,3]
data2 = [4,5,6]
print(data1+data2)

[1, 2, 3, 4, 5, 6]

In [ ]:
data = [1,2,3]
print(data*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
price = [1,2,3]
price.append(3)
price.append([10,20,30])
print(price)

[1, 2, 3, 3, [10, 20, 30]]

In [ ]:
price = [1,2,3]
price.extend([4,5,6])
print(price)

[1, 2, 3, 4, 5, 6]

In [ ]:
price = [1,2,3]
price.insert(1,10)
print(price)

[1, 10, 2, 3]

In [ ]:
drink_name = ['콜라','사이다','콜라','오렌지쥬스']
drink_name.remove('콜라')
print(drink_name)

['사이다', '콜라', '오렌지쥬스']

In [ ]:
price = [1,2,3]
data = price.pop()
print(price)
print(data)

[1, 2]
3

In [ ]:
price = (1,2,3)
name = ('사과','딸기','파인애플')
store = ('서초점','강남점','송파점')

In [ ]:
store = ('서초점','강남점','송파점','잠실점')
result = store[0]
result1 = store[0:3]
print(result)
print(result1)

서초점
('서초점', '강남점', '송파점')

In [ ]:
price = (1,2,3)
price1 = (10,20,30)
result = price+price1
result1 = price*2
print(result)
print(result1)

(1, 2, 3, 10, 20, 30)
(1, 2, 3, 1, 2, 3)

In [ ]:
sale = {'name':'콜라','price':1200,'count':30}
sales = [{'name':'콜라','price':1200},{'name':'사이다','price':1200}]
top = {1:'콜라',2:'사이다'}
print(sale)
print(sales)
print(top)

{'name': '콜라', 'price': 1200, 'count': 30}
[{'name': '콜라', 'price': 1200}, {'name': '사이다', 'price': 1200}]
{1: '콜라', 2: '사이다'}

In [ ]:
sale = {'name':'콜라','price':1200}
name = sale['name']
print(name)

콜라

In [ ]:
cola = {'name':'콜라'}
cola['price'] = 1200
print(cola)

{'name': '콜라', 'price': 1200}

In [ ]:
cola = {'name':'콜라','price':1000,'price1':100}
del cola['price1']
print(cola)

{'name': '콜라', 'price': 1000}

In [ ]:
cola = {'name':'콜라','price':1000,'price1':100}
value = cola.get('name')
print(value)

콜라

In [ ]:
cola = {'name':'콜라','price':1000,'price1':100}
keys = cola.keys()
print(keys)

dict_keys(['name', 'price', 'price1'])

In [ ]:
list(cola.keys())

['name', 'price', 'price1']

In [ ]:
cola = {'name':'콜라','price':1000,'price1':100}
values = cola.values()
print(values)

dict_values(['콜라', 1000, 100])

In [ ]:
cola = {'name':'콜라','price':1000,'price1':100}
items = cola.items()
print(items)

dict_items([('name', '콜라'), ('price', 1000), ('price1', 100)])

In [ ]:
open = True   #마트오픈중
sale = False  #세일안함

In [ ]:
price = [100,200,300,100,200,300]
set(price)

{100, 200, 300}

In [ ]:
price1 = set([100,200,300,400])
price2 = set([10,200,150,400])
result1 = price1 & price2
result2 = price1.intersection(price2)
print(result1)
print(result2)

{200, 400}
{200, 400}

In [ ]:
price1 = set([100,200,300,400])
price2 = set([10,200,150,400])
result1 = price1 | price2
result2 = price1.union(price2)
print(result1)
print(result2)

{100, 200, 10, 300, 400, 150}
{100, 200, 10, 300, 400, 150}

In [ ]:
price1 = set([100,200,300,400])
price2 = set([10,200,150,400])
result1 = price1 - price2
result2 = price1.difference(price2)
print(result1)
print(result2)

{100, 300}
{100, 300}